<% was_validated = comment.errors.any? %>

<%= form_with(model: comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% event_class = "form-control" %>
    <% event_was_invalid = comment.errors.include?(:event) %>

    <% if was_validated %>
      <% if event_was_invalid %>
        <% event_class << " is-invalid" %>
      <% else %>
        <% event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_id %>
    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
    <% if event_was_invalid %>
      <% comment.errors.full_messages_for(:event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :commenter_id, value: current_user.id %>
  <div class="form-group">
    <% comment_text_class = "form-control" %>
    <% comment_text_was_invalid = comment.errors.include?(:comment_text) %>

    <% if was_validated %>
      <% if comment_text_was_invalid %>
        <% comment_text_class << " is-invalid" %>
      <% else %>
        <% comment_text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment_text %>
    <%= f.text_area :comment_text, class: comment_text_class, placeholder: "Enter comment text" %>
    <% if comment_text_was_invalid %>
      <% comment.errors.full_messages_for(:comment_text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
