<%= form_with(model: @attendee, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :event_id %>

    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :attendee_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
