<%= form_with(model: @event, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :host_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :start %>
    <%= f.datetime_select :start, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end %>

    <%= f.text_field :end, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>

    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <%= f.submit "Create event", class: "btn btn-block btn-outline-secondary" %>
<% end %>
